<div id="<%= dom_id call %>">
  <p>
    <strong>Reason:</strong>
    <%= call.reason %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= call.detail %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= call.client_id %>
  </p>

</div>
